
/*
    Main Window 
*/

QWidget{
    background-color: #151515;
    color: #FFFFF1;
    font-size: 15px;
    text-align: center;
    /* qproperty-alignment: AlignCenter; align everything */
    /* color: silver; */
    /* background-color: #302F2F; */
    /* selection-background-color:#3d8ec9; */
    /* selection-color: black; */
    background-clip: border;
    border-image: none;
    outline: 0;
}
/* QWidget#size16px{
    font-size: 16px;
}
QWidget#size14px{
    font-size: 14px;
} */
/* QWidget#white{
    font-size: 16px;
} */
/* 
    Grid
*/
QSpinBox {
    border-width: 2px;
    /* border-radius: 10px; */
    border-color: rgb(0, 0, 0);
    padding: 3px;
    background-color: rgb(8, 3, 27);
}

QGroupBox{
    border: 0.5px solid rgb(44, 44, 44);
    /* border-radius:5px; */
    margin-top: 3.3ex; /* The deviation of the position of the text in the box */
    /* left: -15px; */
    padding: 3 0 3 0;
}

QGroupBox::title{
    subcontrol-origin:margin;
    subcontrol-position: top left;
    left: 3px;
    margin: 0 2px;
    padding: 3 0 3 0;
}
 /*
    subcontrol-origin:margin;
    subcontrol-position:top left;
    padding:0 0px;
} */
/* 
    QProgressBar
*/

QProgressBar{
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}
QProgressBar::chunk {
    background-color: rgb(160, 32, 15);
    /* width: 20px; */
    /* margin: 1px; */
}
/* 
    QComboBox
*/

QComboBox {
    /* background-color: rgb(93, 10, 10); */
    background-color: rgb(8, 3, 27);
}
QComboBox:!editable {
    /* text-align: center; */
    /* background-color: gray; */
}
/* QComboBox::item {
    text-align: center;
} */
/* 
    Buttons
*/

QPushButton {
    border-style: outset;
    border-width: 1px;
    border-radius: 7px;
    border-color: rgb(197, 197, 197);
    padding: 1px;
    background-color: rgb(49, 49, 49);
}
QPushButton:pressed, QPushButton:pressed#start_button, QPushButton:pressed#stop_button {
    background-color: rgb(14, 11, 11);
}
QPushButton:disabled {
    border-color: rgb(90, 88, 88);
    border-width: 0px;
}
QPushButton#start_button {
    background-color: rgb(0, 120, 0);
    font-size: 18px;
}
QPushButton#stop_button {
    background-color: rgb(150, 0, 0);
    font-size: 18px;
}

/* QPushButton#textbox1 {
    color: blue;
} */

/* 
    Others
*/
QToolTip {
    color: #FFFFF1;
    /* color: #255acd; */
    background-color: #151515;
    border: 1px solid #8d8c8c;
    border-radius: 7px;
}
/* QFormLayout {

} */
QLabel {
    qproperty-alignment: AlignCenter; 
    /* border: 1px solid rgb(128, 23, 23);  */
} 
QLabel#with_bourder {
    border: 1px solid rgb(181, 181, 181);
    border-radius: 7px;
} 
QCheckBox::indicator:unchecked {
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-color: white;
    /* padding: 9px */
}
/* QCheckBox::indicator:checked { */
    /* background-color: rgb(255, 255, 255); */
    /* border-width: 1px; */
    /* border-style: solid; */
    /* border-color: rgb(0, 0, 0); */
    /* padding: 9px */
/* } */
/* QCheckBox::indicator {
    border: 1px solid grey;
} */
/* QCheckBox {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin: 2px
    max-width: 72px
    padding: 3px
} */
QLineEdit:read-only {
    background-color: rgb(0, 0, 0);
    border-width: 1px;
}
QLineEdit {
    border-style: outset;
    border-width: 1px;
    border-radius: 7px;
    border-color: white;
    padding: 0px;
    background-color: rgb(32, 20, 20);
    /* border: 1px solid rgb(204, 203, 203); */
    qproperty-alignment: AlignCenter;
    /* border-radius: 5px; */
}
/* QLineEdit {
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
    padding: 3px;
    background-color: rgb(32, 20, 20);
    /* border: 1px solid rgb(204, 203, 203); * /
    qproperty-alignment: AlignCenter;
    / * border-radius: 5px; * /
} */
QTextEdit#with_border {
    border: 1px solid rgb(181, 181, 181);
    border-radius: 7px;
} 
/* QTextEdit#logger {
    font-size: 14px;
}  */

QMenu {
    background-color: #151515;
    border: 1px solid rgb(92, 92, 92);
} 

QMenu::item {
    /* sets background of menu item. set this to something non-transparent
        if you want menu color and menu item color to be different */
    /* border: 0.5px solid rgb(92, 92, 92); */
    background-color: transparent;
}

QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #2a2a2a;
}
/* QMenu::item:off { /* when user selects item using mouse or keyboard * /
    background-color: #b52828;
} */
QMenu::item:disabled { /* when user selects item using mouse or keyboard */
    /* background-color: #3f3a37; */
    /* background-color: #3f3a37; */
    color: #848484;
}
QMenu:separator { /* when user selects item using mouse or keyboard */
    background-color: #575757;
}


QGroupBox#small{
    border: 0.5px solid rgb(44, 44, 44);
    /* border-radius:5px; */
    font-size: 13px;
    margin-top: 4.2ex;/*The deviation of the position of the text in the box */
    /* font-family: italics; */
    /* font:bold 16px; */
}

QGroupBox#small QLineEdit, QLabel, QCheckBox {
    font-size: 13px;
    /* border-style: outset; */
    /* border-width: 1px; */
    /* border-radius: 8px; */
    /* border-color: white; */
    /* padding: 1px; */
    /* background-color: rgb(32, 20, 20); */
    /* border: 1px solid rgb(204, 203, 203); */
    /* qproperty-alignment: AlignCenter; */
    /* border-radius: 5px; */
}
QGroupBox#gyro_save_groupbox{
    font-size: 13px;
}
QGroupBox#small QTextEdit#with_border {
    font-size: 13px;
}
/* QGroupBox#small QLabel {
    font-size: 12px;
    /* qproperty-alignment: AlignCenter;  */
/* }  */
/* QGroupBox#small QLabel#with_border { */
    /* font-size: 12px; */
    /* border: 1px solid rgb(181, 181, 181); */
    /* border-radius: 10px; */
/* }  */
